{% set fname = "{{vip_location}}/{{interface_location}}/{{name}}_pkg/{{name}}_hdl.compile" %}
{% block description %}
{% endblock %}
{% block contents %}
needs:
# pragma uvmf custom needs_additional begin
# pragma uvmf custom needs_additional end
  - $UVMF_HOME/uvmf_base_pkg/uvmf_base_pkg_hdl.compile
  - ./{{name}}_common.compile
incdir:
# pragma uvmf custom incdir_additional begin
# pragma uvmf custom incdir_additional end
  - .
src:
# pragma uvmf custom src_additional begin
# pragma uvmf custom src_additional end
  - src/{{name}}_if.sv
  - src/{{name}}_monitor_bfm.sv
  - src/{{name}}_driver_bfm.sv
# pragma uvmf custom compile_additional begin
# pragma uvmf custom compile_additional end
{% endblock %}
