{% set fname = "{{bench_location}}/{{name}}/tb/testbench/hdl_top.compile" %}
{% block description %}
{% endblock %}
{% block contents %}
incdir:
# pragma uvmf custom incdir_additional begin
# pragma uvmf custom incdir_additional end
  - ${uvm_path}/src
  - .
needs:
# pragma uvmf custom needs_additional begin
# pragma uvmf custom needs_additional end
  - $UVMF_HOME/uvmf_base_pkg/uvmf_base_pkg_hdl.compile
  - ../parameters/{{name}}_parameters_pkg.compile
{% if useCoEmuClkRstGen %}
  - $UVMF_HOME/common/uvm_co_emulation_utilities/co_emu_hdl.compile
{% endif %}
{% for bfm in bfm_pkgs %}
  - ../../../{{relative_bench_from_cwd}}/{{vip_location}}/{{interface_location}}/{{bfm}}_pkg/{{bfm}}_hdl.compile
{% endfor %}
src:
# pragma uvmf custom src_additional begin
# pragma uvmf custom src_additional end
  - hdl_top.sv
# pragma uvmf custom compile_additional begin
# pragma uvmf custom compile_additional end
{% endblock %}
