{% set fname = "{{bench_location}}/{{name}}/sim/hvl.compile" %}
{% block description %}
{% endblock %}
{% block contents %}
needs:
# pragma uvmf custom needs_additional begin
# pragma uvmf custom needs_additional end
  - ../tb/testbench/hvl_top.compile
# pragma uvmf custom compile_additional begin
# pragma uvmf custom compile_additional end
{% endblock %}
# pragma uvmf custom extra begin
# pragma uvmf custom extra end